body{
    padding: 0;
    margin: 0;
}
#data{
    flex: 4;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-gap: 5%;
    padding-left: 30px;
    width: 80%;
}
#navbar{
    height: 100px;
    background-color: #222;
    display: flex;
    width: 100%;

}

.search{
    width: 100px;
    height: 52px;
    border: 0;
    /* margin-top: 30px;   */
    background-color: #333; 
    color: white;
    font-size: 20px;
    }

.vid{
    width: 700px;
    height: 35px;

    border-radius: 3px;
    font-size: 20px;
    text-transform: capitalize;
    background-color: #111;
    color: white;
    padding: 8px;
}
i{
    color: #bbb;
    margin-top: 35px;
    height: 90px;
    margin-left: 30px;
    cursor: pointer;
}
#ylog{
    color: #f00;
    height: 50px;
    
    /* border: yellow 5px solid; */
}
span{
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
#logo{
    /* border: 5px solid white; */
    display: flex;
    padding-top: 30px;
    width: 50%;
    padding-left: 20%;
}
sup{
    font-size: 12px;
    vertical-align: super;
    
}
.userlogo{
    width: 30%;
    /* border: 3px yellow; */
}
.center
{
    display: flex;
}
.left{
    background-color: whitesmoke;
    width: 20%;
    /* border: 2px green solid; */
    height: 768px;
    text-decoration: none;
}
.nlogo{
    /* border: 2px solid red; */
    width: 5%;
}
#timg{
    width: 100%;
    height: 50;
}
#vdata{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px;
}
#main{
    display: flex;
    height:600px;
}

#video_details{
    flex : 3;
    gap: 20px;
}
#reco{
    flex: 1;
}